// Colors

$color-ultra-light: #ffffff !important;
$color-default: #434852 !important;
$color-brand: #f3df4d !important;
$color-default-ligth: #96999b !important;
$color-link: #3078b4 !important;
$color-btn-hover: #9369a8 !important;
$color-link-hover: #ec8b83 !important;
$main-color--darkest: #0d1117 !important;
