// Colors

$color-ultra-light: #ffffff !important;
$color-default: #434852 !important;
$color-brand: #F3DF4D !important;
$color-default-ligth: #96999B !important;
$color-link: #3078B4 !important;
$color-btn-hover: #9369A8 !important;
$color-link-hover: #EC8B83 !important;
$main-color--darkest: #0D1117 !important;
