@import '@/assets/stylesheets/utils/variables.scss';

.main__title {
  position: absolute;
  width: 45%;
  top: 4vw;
  padding: 10px 0;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 7.5vw;
  line-height: 120%;
  letter-spacing: -3px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main__image {
  display: block;
  width: 100%;
  z-index: 1;
}
